
<% if !Favorite.exists?(user: current_user, post_id: @post.id) %>
  <%= link_to post_favorites_path(@post), method: :post, remote: true, class: "favorite-btn favorite-post" do %>
    <span> いいね！</span>
    <%= @post.favorites.length %>
  <% end %>
<% else %>
  <%= link_to post_favorites_path(@post), method: :delete, remote: true, class: "favorite-btn favorite-delete" do %>
    <span> いいね! </span>
    <%= @post.favorites.length %>
  <% end %>
<% end %>
