<main class="contents-container">
  <div class="bredcrumb">
    <%= link_to "ホーム", root_path, class:"bredcrumb-link" %> > みんなのマイデザインとは？
  </div>
  <div class="text-contents-wrapper">
    <h3 class="text-contents-title">みんなのマイデザインとは？</h3>
    <p>「みんなのマイデザイン」とは、「あつまれどうぶつの森」のマイデザインをユーザー同士交換できるサイトです。<br >
    作成したマイデザインを投稿したり、他のユーザーが投稿したマイデザインを 作品ID や 作者ID からダウンロードできます。</p>
    <h3>マイデザインのダウンロード方法</h3>
    <ol>
      <li>仕立て屋にあるマイデザイン・ショーケースをタッチする</li>
      <%= image_tag "about-image1.png", size: "550x300" %>
      <li>作品IDもしくは作者IDを入力し、マイデザインを探す </li>
      <%= image_tag "about-image2.png", size: "550x300" %>
      <li> このマイデザインを保存しますか？で「保存する」を選択する </li>
      <li>マイデザインを保存する場所を選択する </li>
    </ol>
    <div class="favorite-rule-wrapper">
    <h3>「みんなのマイデザイン」で投稿されたマイデザインをお気に入り登録する方法</h3>
     <p>・マイデザインの一覧ページもしくは詳細ページにある★マークをクリックすることで、お気に入り登録できます。</p>
     <p>・お気に入り登録されたマイデザインは、ユーザーページの「お気に入り一覧」タブから確認できます。</p>
     <p class="notes-message">※お気に入り登録するには、「みんなのマイデザイン」にログインする必要があります。</p>
    </div>

     <p class="about-last-message">お気に入りのマイデザインを見つけて、ダウンロードしてみよう！</p>
  </div>
</main>
