  <!-- ======= Hero Section ======= -->
  <section id="hero">
  </section><!-- End Hero Section -->
  <main class="contents-container">
    <div class="contents-wrapper">
      <div class="contents-title">
        <div class="new-contents">
          新着の投稿
        </div>
      </div>
      <%= render 'posts/post_list', posts: @newest_posts %>
    </div>
    <div class="contents-wrapper">
      <div class="contents-title">
        <div class="favorite-contents">
          人気の投稿
        </div>
      </div>
      <%= render 'posts/post_list', posts: @most_favorite_posts %>
    </div>
  </main>

  