<%= flash[:notice] %>
<% @posts.each do |post| %>
  <%= link_to post do %>
    <p><%= post.title %></p>
    <%= image_tag post.image.variant(resize_to_fill: [400, 250]) if post.image.attached? %>
  <% end %>
<% end %>
