<main class="contents-container">
  <div class="bredcrumb"> <%= link_to "HOME", root_path %> > 全てのマイデザイン </div>
  <div class="contents-wrapper">
    <p class="contents-wrapper-title">
      <% if params[:q].blank? %>
        全 <%= @posts.count %> 件
      <% else %>
        検索結果 <%= @posts.count %> 件
      <% end %>
    </p>
    <%= render 'post_list', posts: @posts %>
  </div>
</main>
