/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  background: #fff7e6;
  position: absolute;/* ←絶対位置 */
  bottom: 0;
  width: 100%;
  padding: 25px;
}

.footer .copyrights {
  text-align: center;
  margin: 0 auto ;
  max-width: 1000px;
}

.footer-navi {
  margin: 0 auto 10px auto ;
  max-width: 1000px;
  font-size: 15px;
  display: flex;
  justify-content: center;
}

.footer-navi span:not(:last-child)::after {
  content: "/";
  margin: 0 16px;
}

.footer-navi a:hover {
  text-decoration: underline;
}

.footer .copyrights p,
.footer .copyrights .credits {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 0;
}

.footer .copyrights p a,
.footer .copyrights .credits a {
  letter-spacing: 0;
  color: #71c55d;
}
