// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
main {
  background-color: #ffcccc;
}

.alert {
  background-color: #ffe6e6;
  margin: 0 ;
}

body { 
  font-family: 'Zen Maru Gothic', serif;
  color: #555;
  min-height: 100vh;
  position: relative;
  padding-bottom: 99px;
}

input {
  font-family: Arial, Helvetica, sans-serif;
}

li {
  text-decoration: none;
}

.title {
  background: repeating-linear-gradient(135deg, #fca4b4, #fca4b4 20px, #fcb1bf 20px, #fcb1bf 40px);
  color: #555555;
}

.title-container {
  max-width: 1300px;
  padding: 30px 0 25px 0;
  margin: 0 auto;
}

.title-container h2, .post-show-title {
  color: #fff;
  background-color: #b37d88;
  border-radius: 20px;
}

.post-show-title {
  display: flex;
  justify-content: space-between;
}

.title-container h2 {
  font-size: 30px;
  padding: 20px 30px;
}

.post-show-title h2 {
  font-size: 30px;
  padding: 20px 30px;
}

.post-show-user {
  padding: 20px 30px;
  max-width: 250px;
  display: flex;
  word-break: break-all;
}

.post-show-user-image {
  margin-right: 10px;
  max-height: 50px;
}

.post-show-user-name{
  color: #fff;
  line-height: 50px;
}

.post-show-user-name:hover {
  text-decoration: underline;
}

.contents-container{
  padding-top: 60px;
  padding-bottom: 60px;
  min-height: 100vh;
}

.contents-wrapper {
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  max-width: 1300px;
  margin: 0 auto;
}

.contents-wrapper-title, .contents-container-title {
  font-size:20px;
}

.button {
  border: none;
  background-color: #b37d88;
  border: 1px solid #b37d88;
  color: #fff;
  padding:10px 20px;
  border-radius: 20px;
}

.button-white{
  border: none;
  background-color: #fff;
  border: 1px solid #b37d88;
  color: #b37d88;
  padding: 10px 20px;
  border-radius: 20px;
}

.submit-button {
  border: none;
  background-color: #b37d88;
  border: 1px solid #b37d88;
  color: #fff;
  padding:10px 80px;
  border-radius: 20px;
  line-height: 22px;
  vertical-align: middle;
}

.cancel-button{
  border: none;
  background-color: #fff;
  border: 1px solid #b37d88;
  color: #b37d88;
  padding: 10px 80px;
  border-radius: 20px;
  line-height: 23px;
  vertical-align: middle;
  margin-right: 20px;
}

.tab-wrap {
  max-width: 1300px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.tab-wrap:after {
  content: '';
  width: 100%;
  height: 3px;
  background: #fca4b4;
  display: block;
  order: -1;
}
.tab-label {
  color: White;
  background: LightGray;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0,0,0,.2);
  white-space: nowrap;
  text-align: center;
  padding: 10px .5em;
  order: -1;
  position: relative;
  z-index: 1;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
  flex: 1;
}
.tab-label:not(:last-of-type) {
  margin-right: 5px;
}
.tab-content {
  background-color: #fff;
  width: 100%;
  height: 0;
  overflow: hidden;
  opacity: 0;
  border-radius: 0px 0px 20px 20px;
}
/* アクティブなタブ */
.tab-switch:checked+.tab-label {
  background: #fca4b4;
}
.tab-switch:checked+.tab-label+.tab-content {
  height: auto;
  overflow: auto;
  opacity: 1;
  transition: .5s opacity;
  box-shadow: 0 0 3px rgba(0,0,0,.2);
  padding: 20px;
}
/* ラジオボタン非表示 */
.tab-switch {
  display: none;
}
