/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  padding-top: 94px;
  font-family: 'Zen Maru Gothic', serif;
  color: #555;
  min-height: 100vh;
  position: relative;
  padding-bottom: 92px;
}

@media (max-width: 991px) {
  body {
    padding-top: 73.59px
  }
}

p {
  margin-bottom: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h2 {
  font-weight: 600;
}

h4 {
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 2;
}

h5 {
  font-size: 14px;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  letter-spacing: 1px;
}

li {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 30px;
  list-style: none;
  text-decoration: none;
}

.btn-default:hover {
  color: #fff;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.fa {
  text-decoration: none;
  font-size: 13px;
}

.alert {
  background-color: #ffe6e6;
  margin: 0 ;
}

// ユーザーアイコン
.user-icon {
  border-radius: 100%;
  border: 1px solid #aa6e6e;
  background-color: #fff;
}

// ボタン全般
.btn-dark {
  border: none;
  background-color: #b37d88;
  border: 1px solid #b37d88;
  color: #fff;
  padding:10px 20px;
  border-radius: 20px;
}

.btn-light{
  border: none;
  background-color: #fff;
  border: 1px solid #b37d88;
  color: #b37d88;
  padding: 10px 20px;
  border-radius: 20px;
}


// フォローボタン
.follow-btn-light {
  width: 130px;
  color: #b37d88;
  font-weight: bold;
  background-color: #fff;
  border: solid #b37d88 1px ;  
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 15px;
  text-align:center;
}

.follow-btn-dark {
  width: 130px;
  font-weight: bold;
  background-color: #b37d88;
  color: #fff;
  border: solid #b37d88 1px ;  
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 15px;
  text-align:center;
}

// 投稿件数、フォロー件数、フォロワー件数
.user-count span {
  font-size: 20px;
}

.user-count a:hover{
  text-decoration: underline;
}

// パンくずリスト
.bredcrumb {
  max-width: 1000px;
  margin: 0px auto 15px auto;
  display: flex;
}

.bredcrumb-link {
  margin: 0px 5px;
}

.bredcrumb-post-name {
  margin: 0 5px;
}

.bredcrumb a:hover {
  text-decoration: underline;
}

.bredcrumb input:hover {
  text-decoration: underline;
}

// 検索フォーム
#search_btn{
  min-width: 65px;
  max-width:  65px;
}

.search-form-7 {
  display: flex;
  align-items: center;
  gap: 0 10px;
  margin-bottom: 20px;
}

.search-form-7 label {
  width: 250px;
}

.search-form-7 input {
  height: 34px;
  padding: 1px 5px 1px 8px;
  border: 1px solid #999999;
  box-sizing: border-box;
  color: #000;
  outline: none;
}

.search-post-user-form {
  width: 30%;
}

.search-post-title-form {
  width: 40%;
}

.search-form-7 select {
  height: 34px;
  padding: 1px 5px 1px 8px;
  border: 1px solid #999999;
  box-sizing: border-box;
  color: #000;
  outline: none;
}

.search-form-7 button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  max-width: 140px;
  height: 34px;
  border: none;
  background-color: #f88282;
  color: #fff;
  cursor: pointer;
}

.search-form-7 button::before {
  width: 14px;
  height: 14px;
  margin-right: 5px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M18.031 16.6168L22.3137 20.8995L20.8995 22.3137L16.6168 18.031C15.0769 19.263 13.124 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2C15.968 2 20 6.032 20 11C20 13.124 19.263 15.0769 18.031 16.6168ZM16.0247 15.8748C17.2475 14.6146 18 12.8956 18 11C18 7.1325 14.8675 4 11 4C7.1325 4 4 7.1325 4 11C4 14.8675 7.1325 18 11 18C12.8956 18 14.6146 17.2475 15.8748 16.0247L16.0247 15.8748Z' fill='%23fff'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  content: '';
}

.search-select-form {
  display: flex;
  gap: 10px;
}

.contents-container{
  padding-top: 31px;
  padding-bottom: 31px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #ffcccc;
}

.contents-wrapper {
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  max-width: 1000px;
  margin: 0 auto 30px auto;
}

.contents-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.contents-count {
  font-size:20px;
}

.non-btn {
  border: none;
  background-color: transparent;
  color: #555;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  height: 300px;
  background: repeating-linear-gradient(135deg, #fca4b4, #fca4b4 20px, #fcb1bf 20px, #fcb1bf 40px);
}

@media (min-width: 1025px) and (max-height: 768px) {
  #hero {
    height: 110vh;
  }
}

@media (max-height: 600px) {
  #hero {
    height: 200vh;
  }
}
section {
  overflow: hidden;
}
