#top {
  background: repeating-linear-gradient(135deg, #fca4b4, #fca4b4 20px, #fcb1bf 20px, #fcb1bf 40px);
}

section {
  overflow: hidden;
}

.top-title-area {
  border-radius: 200px;
  width: 700px;
  margin: 40px auto 40px auto;
  padding: 30px 0px;
  background-color: #f8f0f0;
}

.top-title {
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}

.sub-title {
  margin-top: 10px;
  text-align: center;
  font-size: 28px;
}


//新着投稿、お気に入りリスト
.top-contents {
  font-size: 25px;
  font-weight: bold;
  margin: 0 auto 20px auto;
  border-bottom: 2px dashed;
}


//カテゴリーリスト
.category-list {
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.category-btn {
  font-size: 18px;
  background-color: #fee9e9;
  border: 2px solid #f88282;
  border-radius: 10px;
  text-align: center;
  width: 200px;
  padding: 5px 0px;
  font-weight: 500;
}

.category-btn:hover {
  background-color: #f88282;
  color: #fff;
}

//もっと見るボタン

.see-more-btn-wrapper {
  text-align: right;
}

.see-more-btn {
  font-weight: 500;
}

.see-more-btn:hover {
  color: #f88282;
}
