.search-user-name-form {
  width: 80%;
}

.user-list {
  padding-left: 0px;
}

.user-list-text {
  width: 825px;
}

.user-list-item {
  display: flex;
  max-height: 200px;
  background-color: #fee9e9;
  box-shadow: 1.5px 1.5px 2px #ccc;
  border: 2px solid #fca4b4;
  margin-bottom: 20px;
  gap: 20px;
  padding: 10px;
  border-radius: 20px;
}

.user-list-image {
  max-height: 102px;
}

.user-list-first-line {
  display: flex;
  justify-content: space-between;
  line-height: 34.5px;
}

.user-list-second-line {
  display: flex;
  gap: 10px;
  max-width: 300px;
}

.user-list-name {
  font-size: 20px;
}

.user-list-second-line {
  gap: 5px;
  justify-content: center;
}

@media screen and (max-width: 548px) {
  .user-list-item {
    display: block;
    max-height: none;
  }

  .user-wrapper {
    text-align: center;
  }

  .user-list-image {
    width: 150px;
    height: 150px;
    max-height: none;
  }

  .user-list-text {
    width: 100%;
  }

  .user-list-first-line {
    margin-top: 10px;
    display: list-item;
  }

  .user-list-second-line {
    margin: 0 auto;
  }

}
