.account-wrapper {
  background-color: #ffe4e1;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}

.account-wrapper-left {
  display: flex;
  gap: 30px;
}

.user-image {
  border-radius: 100%;
}

.account-user-name {
  font-size: 30px;
}

.login-text {
  margin-top: 20px;
  text-align: center;
}

.login-text a{
  color: #fb7f95;
}

.login-text a:hover{
  color: #f95271;
}
