.account-wrapper {
  background-color: #ffe4e1;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}

.account-wrapper-left {
  display: flex;
  gap: 30px;
}

.user-image {
  border-radius: 100%;
}

.account-user-image {
  max-height: 120px;
}

.account-user-text {
  max-width: 1030px ;
  word-break: break-all;
}

.user-text-first-line{
  margin-bottom: 5px;
}

.account-user-second-line {
  margin-top: 8px;
  display: flex;
  gap: 10px;
  letter-spacing: 2px;
}

.follow-text:hover {
  text-decoration: underline;
}

.account-user-second-line-text {
  margin: 5px 0px;
}

.login-text {
  margin-top: 20px;
  text-align: center;
}

.login-text a{
  color: #fb7f95;
}

.login-text a:hover{
  color: #f95271;
}

.account-info {
  border-bottom: 1px solid #b37d88;
  padding-bottom: 20px;
}

.account-user-profile {
  word-break: break-all;
}
