.user-show-container {
  max-width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.user-show-wrapper {
  margin: 0 auto;
  background: repeating-linear-gradient(135deg, #fca4b4, #fca4b4 20px, #fcb1bf 20px, #fcb1bf 40px);
  border:1px solid #fca4b4;
  border-radius: 20px;
  margin-bottom: 20px;
}

.user-show-wrapper-left {
  text-align: center;
}

.user-show-image {
  max-height: 150px;
  margin-bottom: 10px;
}

.user-show-edit-btn {
  text-align: center;
}

.edit-btn-light {
  width: 100%;
  color: #b37d88;
  background-color: #fff;
  border: solid #b37d88 1px;
  height:40px;
  font-size: 15px;
  text-align:center;
}

.user-wrapper-left a {
  margin-top: 10px;
  display: inline-block;
  text-align: center;
}

.user-show-text {
  word-break: break-all;
  border-radius: 20px;
  background-color: #fff;
  padding: 10px 20px 20px 20px;
}

.user-show-text-first {
  margin-top: 20px;
  padding-bottom: 5px;
  border-bottom: 2px dashed #ccc;
}

.user-show-text-first-right {
  display: flex;
  gap: 10px;
}

.user-show-frend-code {
  margin-top: 10px;
  padding-bottom: 5px;
}

.user-show-profile {
  background-image: linear-gradient(90deg, transparent 0%, transparent 50%, #fff 50%, #fff 100%), /* 点線1の色 */
  linear-gradient(180deg, #ccc 1px, transparent 1px); /* 点線2の色と太さ */
  background-size: 8px 100%, /* 点線1のサイズ */
  100% 2.5em; /* 点線2のサイズ */
  line-height: 2.5em; /* 文字の高さ */
  padding-bottom: 1px;
}

.tab-wrap {
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.tab-wrap:after {
  content: '';
  width: 100%;
  height: 3px;
  background: #fca4b4;
  display: block;
  order: -1;
}
.tab-label {
  color: White;
  background: #ddc9ce;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0,0,0,.2);
  white-space: nowrap;
  text-align: center;
  padding: 10px .5em;
  order: -1;
  position: relative;
  z-index: 1;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
  flex: 1;
  max-width: 200px;
}
.tab-label:not(:last-of-type) {
  margin-right: 10px;
}
.tab-content {
  background-color: #fff;
  width: 100%;
  height: 0;
  overflow: hidden;
  opacity: 0;
  border-radius: 0px 0px 20px 20px;
}
/* アクティブなタブ */
.tab-switch:checked+.tab-label {
  background: #fca4b4;
}
.tab-switch:checked+.tab-label+.tab-content {
  height: auto;
  overflow: auto;
  opacity: 1;
  transition: .5s opacity;
  box-shadow: 0 0 3px rgba(0,0,0,.2);
  padding: 20px;
}
/* ラジオボタン非表示 */
.tab-switch {
  display: none;
}

@media screen and (max-width: 479px) {
  .user-show-wrapper {
    max-width: 380px;
    padding: 10px;
  }

  .user-show-text-first h3 {
    margin-bottom: 10px;
    text-align: center;
  }

  .tab-wrap {
    max-width: 380px;
  }

  .user-count {
    font-size: 15px;
  }

  .tab-switch:checked+.tab-label+.tab-content {
    padding: 20px 37px;
  }

  .user-show-wrapper-left a {
    display: block;
    margin-bottom: 10px;
  }

  .user-show-text-first-right {
    justify-content: center;
  }

}

@media screen and (min-width: 767px) {
  .user-show-wrapper {
    max-width: 1000px;
    display: flex;
    padding: 20px 30px;
  }

  .user-show-wrapper-left {
    width: 150px;
    margin-right: 30px;
  }

  .user-show-text {
    width: 750px;
  }

  .user-show-text-first {
    display: flex;
    justify-content: space-between;
  }

  .user-count span {
    font-size: 20px;
  }
}
